@screen--sm: 475px;
@screen--md: 720px;
@screen--lg: 940px;
@screen--xl: 1140px;

@color: #ebebeb;
@bkg: #2b3e50;
@primary: #4e5d6c;
@primary--dark: darken(@primary, 10%);
@accent: #d96927;

@font-family: "Trebuchet MS", Helvetica, sans-serif;

@font-size: 1.6rem;
@font-size--big: 1.8rem;
@font-size--h3: @font-size + .2;
@font-size--h2: @font-size + 1.2;
@font-size--h1: @font-size + 5;
@font-size--menu: 1.6rem;

@chart--1: #d9534f;
@chart--2: #f0ad4e;
@chart--3: #5cb85c;
@chart--4: #5bc0de;

@toggler-width: 22px;
@toggler__bar-height: 3px;

@pie-diameter: 90px;
