@screen--sm: 475px;
@screen--md: 966px;
@screen--lg: 1152px;
@screen--xl: 1380px;

@bkg: #2b3e50;
@accent: #4e5d6c;

@font-family: 'Roboto', sans-serif;

@font-size: 1.6rem;
@font-size--big: 1.8rem;
@font-size--h3: @font-size + .2;
@font-size--h2: @font-size + 1.2;
@font-size--h1: @font-size + 5;
@font-size--menu: 1.6rem;

@color: #ebebeb;

@chart--1: #d9534f;
@chart--2: #f0ad4e;
@chart--3: #5cb85c;
@chart--4: #5bc0de;

