doctype html
html(lang="en")

head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Interesnee: Test Task
  link(rel="stylesheet" href="css/style.css")

body  
   
  header.header
    .container
      .header__menu
        a.header__menu-btn(href="#") Store
        a#toggler.toggler(href="#")
          span
        nav#menu.main-nav
          ul
            li
              a.main-nav__btn.main-nav__btn--active(href="#")
                span Dashboard
            li
              a.main-nav__btn(href="#")
                span Products
            li
              a.main-nav__btn(href="#")
                span Categories
            li
              a.main-nav__btn(href="#")
                span Users
          .main__nav__dropdowns      
            a.main-nav__dropdown.main-nav__dropdown--bell(href="#") Smth
            a.main-nav__dropdown.main-nav__dropdown--profile(href="#") Profile
          
          
          
  .container
  
    main.main
    
      section.charts
        h1.header--h1 Charts
        
        .charts__wrapper
          .charts__chart
            .charts__diagram
              .charts__bkg
              .charts__hold.charts__hold--1
                .charts__pie.charts__pie--1            
              span.charts__value 10
            span.charts__period Today

          .charts__chart
            .charts__diagram
              .charts__bkg
              .charts__hold.charts__hold--1
                .charts__pie.charts__pie--2
              .charts__hold.charts__hold--2
                .charts__pie.charts__pie--2
              span.charts__value 75
            span.charts__period Week

          .charts__chart
            .charts__diagram
              .charts__bkg
              .charts__hold.charts__hold--1
                .charts__pie.charts__pie--3
              span.charts__value 45
            span.charts__period Month

          .charts__chart
            .charts__diagram
              .charts__bkg
              .charts__hold.charts__hold--1
                .charts__pie.charts__pie--4
              .charts__hold.charts__hold--2
                .charts__pie.charts__pie--4
              span.charts__value 90
            span.charts__period Year
          
          
          
      section.sales
        h1.header--h1 Sales
        
        mixin row(items)
          tr
            each item, index in items
              td= item 

        mixin table(tableData)
          table.sales__table
            each row, index in tableData
              +row(row)
        - var tableItems = [{number: "1", checkbox: "", name: "Bread", category: "Food", price: "1$"}, {number: "2", checkbox: "", name: "Milk", category: "Food", price: "2$"}, {number: "3", checkbox: "", name: "iPhone", category: "Electronics", price: "699$"}, {number: "4", checkbox: "", name: "TV", category: "Electronics", price: "1099$"}, {number: "5", checkbox: "", name: "F.Dostoyevsky 'Crime and Punishment", category: "Books", price: "8$"}]
        +table(tableItems)
                       
        
        table.sales__table
          thead
            tr.head
              th #
              th Select All
              th Product
              th Category
              th Price
              th 
              th               
        
        
      section.recommend
        h1.header--h1 We recommend
        .recommend__img-wrapper
          img.recommend__img(src="img/0001.jpg" alt="car")        
          img.recommend__img(src="img/0002.jpg" alt="food")        
          img.recommend__img(src="img/0003.jpg" alt="software")



    footer.footer
      span.footer__copyright &#169; 2015
      a.footer__link(href="interesnee.ru") interesnee.ru



  
  script(src="js/script.js")      