doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Interesnee: Test Task
    link(rel="stylesheet" href="css/style.css")

  body 

    svg(style="display: none;" xmlns="http://www.w3.org/2000/svg")  
      symbol#icon-bell(viewbox="0 0 141.732 141.732")
        path(d="M135.055,115.131c0-3.528-2.861-6.396-6.395-6.396c-8.83,0-15.988-7.158-15.988-15.99V54.367   c0-20.006-14.209-36.709-33.139-40.679c0.588-1.242,0.928-2.628,0.928-4.095C80.462,4.296,76.165,0,70.866,0   c-5.299,0-9.594,4.296-9.594,9.598c0,1.467,0.339,2.853,0.927,4.095c-18.928,3.97-33.137,20.673-33.137,40.679v38.377   c0,8.832-7.159,15.99-15.99,15.99c-3.533,0-6.396,2.864-6.396,6.396c0,3.531,2.862,6.396,6.396,6.396h15.99h29.011   c0,9.716,5.729,17.591,12.793,17.591c7.064,0,12.792-7.875,12.792-17.591h29.014h15.988l0,0   C132.194,121.526,135.055,118.664,135.055,115.131")      
      symbol#icon-user(viewbox="0 0 512 512")
        path(d="M377.055,170.75c0,66.275-53.726,120-120,120s-120-53.725-120-120c0-66.273,53.726-120,120-120 S377.055,104.477,377.055,170.75z M356.101,296.41c-27.968,22.084-62.633,34.34-99.046,34.34c-36.835,0-71.839-12.543-99.934-35.051 C83.067,322.875,50,417.877,50,461.25h412C462,418.25,428.678,323.926,356.101,296.41z")      
      symbol#icon-gear(viewbox="0 0 512 512")
        path(d="M462,283.742v-55.485l-49.249-17.514c-3.4-11.792-8.095-23.032-13.919-33.563l22.448-47.227 l-39.234-39.234l-47.226,22.449c-10.53-5.824-21.772-10.52-33.564-13.919L283.741,50h-55.484l-17.515,49.25 c-11.792,3.398-23.032,8.094-33.563,13.918l-47.227-22.449l-39.234,39.234l22.45,47.227c-5.824,10.531-10.521,21.771-13.919,33.563 L50,228.257v55.485l49.249,17.514c3.398,11.792,8.095,23.032,13.919,33.563l-22.45,47.227l39.234,39.234l47.227-22.449 c10.531,5.824,21.771,10.52,33.563,13.92L228.257,462h55.484l17.515-49.249c11.792-3.398,23.034-8.095,33.564-13.919l47.226,22.448 l39.234-39.234l-22.448-47.226c5.824-10.53,10.521-21.772,13.919-33.564L462,283.742z M256,331.546 c-41.724,0-75.548-33.823-75.548-75.546s33.824-75.547,75.548-75.547c41.723,0,75.546,33.824,75.546,75.547 S297.723,331.546,256,331.546z")      
      symbol#icon-logout(viewbox="0 0 512 512")
        path(d="M378.083,298.021v41.748L462,256l-83.917-83.77v41.746H228.224v84.045H378.083z M333.777,328.021V406H50 V106h283.777v77.977h-40V146H90v220h203.777v-37.979H333.777z")
      symbol#icon-edit(viewbox="0 0 512 512")
        path(d="M74.686,340.686L50,460.949l122.365-22.584L379.52,231.211l-97.68-97.68L74.686,340.686z M303.088,205.032l-181.891,181.89l-21.213-21.213l181.891-181.89L303.088,205.032z M462,148.731l-52.662,52.662l-97.682-97.68 l52.662-52.663L462,148.731z")
      symbol#icon-delete(viewbox="0 0 512 512")
        path(d="M424.562,78.022v40.032H87.438V78.022h94.938c15.464,0,28-12.546,28-28.022h91.25 c0,15.477,12.536,28.022,28,28.022H424.562z M406.334,148.079V462H105.666V148.079H406.334z M197.333,210.462 c0-8.291-6.716-15.012-15-15.012s-15,6.721-15,15.012v190.153c0,8.291,6.716,15.012,15,15.012s15-6.721,15-15.012V210.462z M271,210.462c0-8.291-6.716-15.012-15-15.012s-15,6.721-15,15.012v190.153c0,8.291,6.716,15.012,15,15.012s15-6.721,15-15.012 V210.462z M344.667,210.462c0-8.291-6.716-15.012-15-15.012s-15,6.721-15,15.012v190.153c0,8.291,6.716,15.012,15,15.012 s15-6.721,15-15.012V210.462z")  



    header.header
      .container
        .header__menu
          a.header__menu-btn(href="#") Store
          a#toggler.toggler(href="#")
            span
          nav#menu.main-nav
            ul
              li
                a.main-nav__btn.main-nav__btn--active(href="#")
                  span Dashboard
              li
                a.main-nav__btn(href="#")
                  span Products
              li
                a.main-nav__btn(href="#")
                  span Categories
              li
                a.main-nav__btn(href="#")
                  span Users

            .main__nav__dropdowns

              a#dropdown--bell.main-nav__dropdown(href="#" title="Dropdown menu")
                svg.main-nav__icon(width="15" height="20")
                  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bell")

              #menu--bell.main-nav__dropdown-menu
                a.main-nav__dropdown-btn(href="#" title="Button 1")                
                  span Button 1
                a.main-nav__dropdown-btn(href="#" title="Button 2")                
                  span Button 2

              a#dropdown--user.main-nav__dropdown(href="#" title="User Profile")
                svg.main-nav__icon(width="15" height="20")
                  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-user")

              #menu--user.main-nav__dropdown-menu
                a.main-nav__dropdown-btn(href="#" title="User Profile")
                  svg.main-nav__icon(width="15" height="20")
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-user")
                  | User Profile
                a.main-nav__dropdown-btn(href="#" title="Settings")
                  svg.main-nav__icon(width="15" height="20")
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gear")
                  | Settings
                a.main-nav__dropdown-btn.main-nav__dropdown-btn--logout(href="#" title="Logout") 
                  svg.main-nav__icon(width="15" height="20")
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logout")
                  | Logout




    .container

      main.main

        section.charts
          h1.header--h1 Charts

          .charts__wrapper
            .charts__chart
                #chart-1.chart(data-progress="0")
                  .chart__circle
                    .chart__mask.chart__full
                      .chart__fill
                    .chart__mask.chart__half 
                      .chart__fill
                      .chart__fill.chart__fix
                  .chart__inset
                    .chart__percentage
                      .chart__numbers
                        span -
                        span 0%
                        span 1%
                        span 2%
                        span 3%
                        span 4%
                        span 5%
                        span 6%
                        span 7%
                        span 8%
                        span 9%
                        span 10%
                        span 11%
                        span 12%
                        span 13%
                        span 14%
                        span 15%
                        span 16%
                        span 17%
                        span 18%
                        span 19%
                        span 20%
                        span 21%
                        span 22%
                        span 23%
                        span 24%
                        span 25%
                        span 26%
                        span 27%
                        span 28%
                        span 29%
                        span 30%
                        span 31%
                        span 32%
                        span 33%
                        span 34%
                        span 35%
                        span 36%
                        span 37%
                        span 38%
                        span 39%
                        span 40%
                        span 41%
                        span 42%
                        span 43%
                        span 44%
                        span 45%
                        span 46%
                        span 47%
                        span 48%
                        span 49%
                        span 50%
                        span 51%
                        span 52%
                        span 53%
                        span 54%
                        span 55%
                        span 56%
                        span 57%
                        span 58%
                        span 59%
                        span 60%
                        span 61%
                        span 62%
                        span 63%
                        span 64%
                        span 65%
                        span 66%
                        span 67%
                        span 68%
                        span 69%
                        span 70%
                        span 71%
                        span 72%
                        span 73%
                        span 74%
                        span 75%
                        span 76%
                        span 77%
                        span 78%
                        span 79%
                        span 80%
                        span 81%
                        span 82%
                        span 83%
                        span 84%
                        span 85%
                        span 86%
                        span 87%
                        span 88%
                        span 89%
                        span 90%
                        span 91%
                        span 92%
                        span 93%
                        span 94%
                        span 95%
                        span 96%
                        span 97%
                        span 98%
                        span 99%
                        span 100%
                span.charts__period Today
                
            .charts__chart
              #chart-2.chart(data-progress="0")
                .chart__circle
                  .chart__mask.chart__full
                    .chart__fill.chart__fill--2
                  .chart__mask.chart__half 
                    .chart__fill.chart__fill--2
                    .chart__fill.chart__fill--2.chart__fix
                .chart__inset
                  .chart__percentage
                    .chart__numbers
                      span -
                      span 0%
                      span 1%
                      span 2%
                      span 3%
                      span 4%
                      span 5%
                      span 6%
                      span 7%
                      span 8%
                      span 9%
                      span 10%
                      span 11%
                      span 12%
                      span 13%
                      span 14%
                      span 15%
                      span 16%
                      span 17%
                      span 18%
                      span 19%
                      span 20%
                      span 21%
                      span 22%
                      span 23%
                      span 24%
                      span 25%
                      span 26%
                      span 27%
                      span 28%
                      span 29%
                      span 30%
                      span 31%
                      span 32%
                      span 33%
                      span 34%
                      span 35%
                      span 36%
                      span 37%
                      span 38%
                      span 39%
                      span 40%
                      span 41%
                      span 42%
                      span 43%
                      span 44%
                      span 45%
                      span 46%
                      span 47%
                      span 48%
                      span 49%
                      span 50%
                      span 51%
                      span 52%
                      span 53%
                      span 54%
                      span 55%
                      span 56%
                      span 57%
                      span 58%
                      span 59%
                      span 60%
                      span 61%
                      span 62%
                      span 63%
                      span 64%
                      span 65%
                      span 66%
                      span 67%
                      span 68%
                      span 69%
                      span 70%
                      span 71%
                      span 72%
                      span 73%
                      span 74%
                      span 75%
                      span 76%
                      span 77%
                      span 78%
                      span 79%
                      span 80%
                      span 81%
                      span 82%
                      span 83%
                      span 84%
                      span 85%
                      span 86%
                      span 87%
                      span 88%
                      span 89%
                      span 90%
                      span 91%
                      span 92%
                      span 93%
                      span 94%
                      span 95%
                      span 96%
                      span 97%
                      span 98%
                      span 99%
                      span 100%
              span.charts__period Week

            .charts__chart
              #chart-3.chart(data-progress="0")
                .chart__circle
                  .chart__mask.chart__full
                    .chart__fill.chart__fill--3
                  .chart__mask.chart__half 
                    .chart__fill.chart__fill--3
                    .chart__fill.chart__fill--3.chart__fix
                .chart__inset
                  .chart__percentage
                    .chart__numbers
                      span -
                      span 0%
                      span 1%
                      span 2%
                      span 3%
                      span 4%
                      span 5%
                      span 6%
                      span 7%
                      span 8%
                      span 9%
                      span 10%
                      span 11%
                      span 12%
                      span 13%
                      span 14%
                      span 15%
                      span 16%
                      span 17%
                      span 18%
                      span 19%
                      span 20%
                      span 21%
                      span 22%
                      span 23%
                      span 24%
                      span 25%
                      span 26%
                      span 27%
                      span 28%
                      span 29%
                      span 30%
                      span 31%
                      span 32%
                      span 33%
                      span 34%
                      span 35%
                      span 36%
                      span 37%
                      span 38%
                      span 39%
                      span 40%
                      span 41%
                      span 42%
                      span 43%
                      span 44%
                      span 45%
                      span 46%
                      span 47%
                      span 48%
                      span 49%
                      span 50%
                      span 51%
                      span 52%
                      span 53%
                      span 54%
                      span 55%
                      span 56%
                      span 57%
                      span 58%
                      span 59%
                      span 60%
                      span 61%
                      span 62%
                      span 63%
                      span 64%
                      span 65%
                      span 66%
                      span 67%
                      span 68%
                      span 69%
                      span 70%
                      span 71%
                      span 72%
                      span 73%
                      span 74%
                      span 75%
                      span 76%
                      span 77%
                      span 78%
                      span 79%
                      span 80%
                      span 81%
                      span 82%
                      span 83%
                      span 84%
                      span 85%
                      span 86%
                      span 87%
                      span 88%
                      span 89%
                      span 90%
                      span 91%
                      span 92%
                      span 93%
                      span 94%
                      span 95%
                      span 96%
                      span 97%
                      span 98%
                      span 99%
                      span 100%
              span.charts__period Month

            .charts__chart
              #chart-4.chart(data-progress="0")
                .chart__circle
                  .chart__mask.chart__full
                    .chart__fill.chart__fill--4
                  .chart__mask.chart__half 
                    .chart__fill.chart__fill--4
                    .chart__fill.chart__fill--4.chart__fix
                .chart__inset
                  .chart__percentage
                    .chart__numbers
                      span -
                      span 0%
                      span 1%
                      span 2%
                      span 3%
                      span 4%
                      span 5%
                      span 6%
                      span 7%
                      span 8%
                      span 9%
                      span 10%
                      span 11%
                      span 12%
                      span 13%
                      span 14%
                      span 15%
                      span 16%
                      span 17%
                      span 18%
                      span 19%
                      span 20%
                      span 21%
                      span 22%
                      span 23%
                      span 24%
                      span 25%
                      span 26%
                      span 27%
                      span 28%
                      span 29%
                      span 30%
                      span 31%
                      span 32%
                      span 33%
                      span 34%
                      span 35%
                      span 36%
                      span 37%
                      span 38%
                      span 39%
                      span 40%
                      span 41%
                      span 42%
                      span 43%
                      span 44%
                      span 45%
                      span 46%
                      span 47%
                      span 48%
                      span 49%
                      span 50%
                      span 51%
                      span 52%
                      span 53%
                      span 54%
                      span 55%
                      span 56%
                      span 57%
                      span 58%
                      span 59%
                      span 60%
                      span 61%
                      span 62%
                      span 63%
                      span 64%
                      span 65%
                      span 66%
                      span 67%
                      span 68%
                      span 69%
                      span 70%
                      span 71%
                      span 72%
                      span 73%
                      span 74%
                      span 75%
                      span 76%
                      span 77%
                      span 78%
                      span 79%
                      span 80%
                      span 81%
                      span 82%
                      span 83%
                      span 84%
                      span 85%
                      span 86%
                      span 87%
                      span 88%
                      span 89%
                      span 90%
                      span 91%
                      span 92%
                      span 93%
                      span 94%
                      span 95%
                      span 96%
                      span 97%
                      span 98%
                      span 99%
                      span 100%
              span.charts__period Year



        section.sales
          h1.header--h1 Sales

          - var tableItems = [{name: "Bread", category: "Food", price: "$1"}, {name: "Milk", category: "Food", price: "$2"}, {name: "iPhone", category: "Electronics", price: "$699"}, {name: "TV", category: "Electronics", price: "$1099"}, {name: "F.Dostoyevsky 'Crime and Punishment'", category: "Books", price: "$8"}]       

          table#sales-table.sales__table
            thead
              tr.head
                th #
                th
                  input(id="select-all" type="checkbox" onclick="toggle(this)" class="sales__checkbox" title="Select All" name="all" value="all")
                  label(for="select-all")
                th.sales__sorting-btn(tabindex="0" onclick="sortTable(salesTbody, 2, asc1); asc1 *= -1; arrowToggler(this);") Product
                  span.arrow
                th.sales__sorting-btn(tabindex="1" onclick="sortTable(salesTbody, 3, asc1); asc1 *= -1; arrowToggler(this);") Category
                  span.arrow
                th.sales__sorting-btn(tabindex="2" onclick="sortTable(salesTbody, 4, asc1); asc1 *= -1; arrowToggler(this);") Price
                  span.arrow
                th
            tbody#sales-tbody
              - var i = -1
              each val, key in tableItems
                - ++i
                tr(class=(i % 2 == 0) ? 'sales__tr  sales__tr--odd' : 'sales__tr')
                  td #{key + 1}
                  td
                    input(id="check"+i type="checkbox" class="sales__checkbox" name="checkbox" value="" title="Select")
                    label(for="check"+i)
                  td #{val.name}
                  td #{val.category}
                  td #{val.price}
                  td(class="sales__td-btns") 
                    a.sales__btn.sales__btn--edit(href="#" title="Edit") 
                      svg.sales__icon-edit(width="15" height="20")
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-edit")
                    a.sales__btn.sales__btnn--delete(href="#" title="Delete") 
                      svg.sales__icon-delete(width="15" height="20")
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-delete")




        section.recommend
          h1.header--h1 We recommend
          .recommend__img-wrapper
            .recommend__img-cont
              img.recommend__img(src="img/0001.jpg" alt="car")
            .recommend__img-cont  
              img.recommend__img(src="img/0002.jpg" alt="food")  
            .recommend__img-cont  
              img.recommend__img(src="img/0003.jpg" alt="software")



      footer.footer
        span.footer__copyright &#169; 2015
        a.footer__link(href="interesnee.ru") interesnee.ru




    script(src="js/script.js")      