.charts {
  
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
    @media(min-width: @screen--md) {
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 0 25px;
    }
    @media(min-width: @screen--lg) {
      padding: 0 60px;
    }
    @media(min-width: @screen--xl) {
      padding: 0 85px;
    }
  }
  &__chart {
    display: inline-block;
    width: 90px;
    margin: 0 40% 10px 0;
    font-size: @font-size--big;
    position: relative;
    
    @media(min-width: @screen--md) {
      margin: 0 95px 10px 0;
    }
    &:nth-child(even) {
      margin: 0;
      
      @media(min-width: @screen--md) {
        margin: 0 95px 0 0;
      }
    }
    &:first-child {
      
      @media(min-width: @screen--md) {
        margin: 0 95px 0 0;
      }
    }
    &:nth-child(3) {
      margin: 0 40% 0 0;
      
      @media(min-width: @screen--md) {
        margin: 0 95px 0 0;
      }
    }
    &:last-child {
      
      @media(min-width: @screen--md) {
        margin: 0;
      }
    }
  }
  &__diagram {
    display: block;
    height: 90px;
    margin: 0 0 10px;
    position: relative;
    
    &:hover {
      transform: scale(1.08);
    }
    &:before {
      position: absolute;
      width: 70px;
      height: 70px;
      background: @bkg;
      border-radius: 50%;
      content: "";
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 1;
    }
  }
  &__bkg {
    background-color: @color;
    position: absolute;
    width: @pie-diameter;
    height: @pie-diameter;
    border-radius: 50%;
  }
  &__pie {
    position: absolute;
    width: @pie-diameter;
    height: @pie-diameter;
    border-radius: 50%;
    clip: rect(0px, @pie-diameter / 2, @pie-diameter, 0px);
    
    &--1 {
      background-color: @chart--1;
    }
    &--2 {
      background-color: @chart--2;
    }
    &--3 {
      background-color: @chart--3;
    }
    &--4 {
      background-color: @chart--4;
    }
  }
  &__hold {
    position: absolute;
    width: @pie-diameter;
    height: @pie-diameter;
    border-radius: 50%;
    clip: rect(0px, @pie-diameter, @pie-diameter, @pie-diameter / 2);
    
    &--1 {
      & .charts__pie--1 {
        transform: rotate(36deg);
      }
      & .charts__pie--2,
      .charts__pie--4 {
        transform: rotate(180deg);
      }
      & .charts__pie--3 {
        transform: rotate(162deg);
      }
    }
    &--2 {
      transform: rotate(180deg);
      & .charts__pie--2 {
        transform: rotate(90deg);
      }
      & .charts__pie--4 {
        transform: rotate(144deg);
      }
    }
  }
  &__value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }
  &__period {
    display: block;
    text-align: center;
  }
}