.charts {
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    @media(min-width: @screen--md) {
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 0 25px;
    }
    @media(min-width: @screen--lg) {
      padding: 0 60px;
    }
    @media(min-width: @screen--xl) {
      padding: 0 85px;
    }
  }
  &__chart {
    display: inline-block;
    width: 90px;
    margin: 0 40% 10px 0;
    font-size: @font-size--big;
    position: relative;
    @media(min-width: @screen--md) {
      margin: 0 95px 10px 0;
    }
    &:nth-child(even) {
      margin: 0;
      @media(min-width: @screen--md) {
        margin: 0 95px 0 0;
      }
    }
    &:first-child {
      @media(min-width: @screen--md) {
        margin: 0 95px 0 0;
      }
    }
    &:nth-child(3) {
      margin: 0 40% 0 0;
      @media(min-width: @screen--md) {
        margin: 0 95px 0 0;
      }
    }
    &:last-child {
      @media(min-width: @screen--md) {
        margin: 0;
      }
    }
  }
  &__period {
    display: block;
    text-align: center;
  }
}

.chart {
  margin: 50px;
  width: @circle-size;
  height: @circle-size;
  background-color: @circle-background;
  border-radius: 50%;
  margin: 0 0 10px;
  &:hover {
    transform: scale(1.08);
    -webkit-filter: blur(0px);
  }
  &__mask {
    width: @circle-size;
    height: @circle-size;
    position: absolute;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    transition: transform @transition-length;
    border-radius: 50%;
    clip: rect(0px, @circle-size, @circle-size, @circle-size/2);
  }
  &__fill {
    width: @circle-size;
    height: @circle-size;
    position: absolute;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    transition: transform @transition-length;
    border-radius: 50%;
    clip: rect(0px, @circle-size/2, @circle-size, 0px);
    background-color: @chart--1;
    &--2 {
      background-color: @chart--2;
    }
    &--3 {
      background-color: @chart--3;
    }
    &--4 {
      background-color: @chart--4;
    }
  }
  &__inset {
    width: @inset-size;
    height: @inset-size;
    position: absolute;
    margin-left: (@circle-size - @inset-size)/2;
    margin-top: (@circle-size - @inset-size)/2;
    background-color: @bkg;
    border-radius: 50%;
  }
  &__percentage {
    height: @percentage-font-size;
    width: @percentage-text-width;
    overflow: hidden;
    position: absolute;
    top: (@inset-size - @percentage-font-size) / 2;
    left: (@inset-size - @percentage-text-width) / 2;
    line-height: 1;
  }
  &__numbers {
    margin-top: -@percentage-font-size;
    transition: width @transition-length;
    text-shadow: 0 0 1px #000;
    span {
      width: @percentage-text-width;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      font-size: @percentage-font-size;
      color: #fff;
    }
  }
}

@i: 0;
@increment: 180deg / 100;
.chart__loop (@i) when (@i <=100) {
  &[data-progress="@{i}"] {
    .chart__circle {
      .chart__mask.chart__full,
      .chart__fill {
        transform: rotate(@increment * @i);
      }
      .chart__fill.chart__fix {
        transform: rotate(@increment * @i * 2);
      }
    }
    .chart__inset .chart__percentage .chart__numbers {
      width: @i * @percentage-text-width + @percentage-text-width;
    }
  }
  .chart__loop(@i + 1);
}

.chart__loop(@i);