.recommend {
  margin: 0 auto 60px;
  &__img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width: @screen--md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__img {
    display: block;
    width: 445px;
    height: 445px;
    margin: 0 0 15px;
    @media(min-width: @screen--md) {
      width: 220px;
      height: 220px;
      margin: 0;
    }
    @media(min-width: @screen--lg) {
      width: 290px;
      height: 290px;
    }
    @media(min-width: @screen--xl) {
      width: 360px;
      height: 360px;
    }
    &:nth-child(1) {
      order: 2;
      @media(min-width: @screen--md) {
        order: 1;
      }
    }
    &:nth-child(2) {
      order: 3;
      margin: 0;
      @media(min-width: @screen--md) {
        order: 2;
      }
    }
    &:nth-child(3) {
      order: 1;      
      @media(min-width: @screen--md) {
        order: 3;
      }
    }
  }
}